.bookings-table-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .bookings-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .bookings-table th, .bookings-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .bookings-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  .view-button {
    background-color: #007bff;
    color: white;
    border: none;
    width: 50%;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .button-td{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .view-button:hover {
    background-color: #0056b3;
  }
  
  