.div-container{
    background-image:url('../../../img/AboutImages/mainbackground.png');

    width: 100%; 
    height: 100vh; 
    background-size: cover;  
    background-repeat: no-repeat;  
}
.phrase{
  color: white;
  font-size: 46px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  font-family: 'Jost', sans-serif;
}
.main-info{
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}
.text{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  font-size: 26px;
  font-family: 'Jost', sans-serif;

}

.check-availability {
  font-family: Arial, sans-serif;
  position: relative;
  padding: 30px 30px;
  width: 100%;
  max-width: 1100px;
  background: #fff;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.check-availability-text {
  font-size: 1.5rem;
  color: #333;
  display: flex;
}

.form-container {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;

}
.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  position: relative;  
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 20px ;
  background: white;
}

.headers {
  color: rgb(133, 135, 138);
  position: absolute;
  top: -10px;  
  left: 10px; 
  margin: 0px;
  font-size: 18px;  
  background-color: white;
  padding: 0 5px;  
}
 .icon {
  font-size: 30px;
  color: black;
  margin-right: 8px;
}

input {
  border: none;
  outline: none;
  background: white;
  position: relative;
}
.find-object, .people-count, .find-date{
  height: 30px;
  font-size: 20px;
  
}

.search-button {
  position: absolute;
  right: -40px;
  background: #563dff;
  color: #fff;
  border: none;
  margin-left: 10px;
  padding: 16px 16px;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  
}

.search-button .search-icon {
  font-size: 30px;
}

.search-button:hover {
  background: #402cad;
}
.availability-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  margin: 20px auto;

}